<h1> {{greetingText}}? </h1>
<!-- div class="col-md-7">
    <div id="map" style="width:645px; height:645px"></div>
</div> -->
<br>
<div id="container-fluid">
    <div class='row'>
        <div class='col-sm-6'>
            <div class='col-sm-4 col-sm-offset-4'>
                <a href='#/login'>
                    <button class='btn btn-primary'>LOGIN</button>
                </a>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class='col-sm-4 col-sm-offset-4'>
                <a href='#/register'>
                    <button class='btn btn-secondary'>REGISTER</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <script>
var map;

$('body').on("ready", function() {
    console.log('hi')
    initMap();
});

function initMap() {
    var pos = {
        lat: 37.78,
        lng: -122.44
    };

    map = new google.maps.Map(document.getElementById('map'), {
        center: pos,
        zoom: 10
    });
};
</script> -->
