<h1 class = 'col-xs-8 col-xs-offset-2'> {{greetingText}}? </h1>
<br>
<div id="container-fluid">
    <div class='row'>
        <div class='col-sm-6'>
            <div class='col-sm-4 col-sm-offset-4'>
                <a href='#/login'>
                    <button class='btn btn-primary'>LOGIN</button>
                </a>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class='col-sm-4 col-sm-offset-4'>
                <a href='#/register'>
                    <button class='btn btn-secondary'>REGISTER</button>
                </a>
            </div>
        </div>
    </div>
</div>

