<input type="text" class="form-control" ng-model="searchText" placeholder="Search Jobs">
<div ng-repeat="job in jobs">
    <div class="row demo-tiles col-xs-3">
            <div class="tile">
                <large id="jobName" class="tile-title">Job Name:<a id="jobTitle" ng-href="/#/jobPosting/{{job._id}}"> {{job.title}}</a></large>
                <br>
                <small id="language1">Original Language:</small>  
                <span class="flag-icon flag-icon-de"></span>
                <br>
                <small id="language2">Translated Language</small>
                <span class="flag-icon flag-icon-us"></span>
                <br>
                <small id="timeEllapsed">Posted:</small><span id = "timer"> {{Date.now() - job.created_at/1000}}seconds ago</span>
                <a class="btn btn-primary" href="/#/jobPosting/{{job._id}}">Click for Details</a>
        </div>
    </div>
</div>
