<div class="row">
    <input type="text" class="form-control" ng-model="searchText" placeholder="Search Jobs">
    <div ng-repeat="job in jobs">
        <div class="row demo-tiles col-sm-8 col-md-3">
            <div class="tile">
                <large id="jobName" class="tile-title">Job Name:<a id="jobTitle" ng-href="/#/jobPosting/{{job._id}}"> {{job.title}}</a></large>
                <br>
                <small id="language1">Original Language:</small>
                <span class="flag-icon flag-icon-{{job.requiredLanguages[0][0]}}"></span>
                <br>
                <script type="text/javascript">console.log({{job.requiredLanguages}})</script>
                <small id="language2">Translated Language</small>
                <span class="flag-icon flag-icon-{{job.requiredLanguages[1][0]}}"></span>
                <br>
                <small id="timeElapsed">Time Since Posted:</small><span id="timer"> {{job.elapsed.days}} days {{job.elapsed.hours}} hours {{job.elapsed.minutes}} minutes {{job.elapsed.seconds}} seconds </span>
                <a class="btn btn-primary" href="/#/jobPosting/{{job._id}}">Click for Details</a>
            </div>
        </div>
    </div>
</div>
