<div class="col-xs-6 col-xs-offset-3">
    <form class="form-horizontal" ng-submit="createJob()">
        <fieldset>
            <!-- Form Name -->
            <legend class="col-xs-6 col-xs-offset-3">Post a New Job</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Job Title</label>
                <div class="col-md-8 col-xs-offset-2">
                    <input id="title" ng-model="jobPosting.title" type="text" class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Language Translating From</label>
                <div class="col-md-8 col-xs-offset-2">
                    <select ng-model="jobPosting.requiredLanguage1" data-toggle="select" class="form-control select select-default mrs mbm" required="">
                        <option value="fr, French">French</option>
                        <option value="de, German">German</option>
                        <option value="ru, Russian">Russian</option>
                        <option value="us, English">English</option>
                        <option value="cn, Chinese">Chinese</option>
                        <option value="kr, Korean">Korean</option>
                        <option value="vn, Vietnamese">Vietnamese</option>
                        <option value="il, Hebrew">Hebrew</option>
                        <option value="jp, Japanese">Japanese</option>
                        <option value="gr, Greek">Greek</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Language Translating To</label>
                <div class="col-md-8 col-xs-offset-2">
                    <select ng-model="jobPosting.requiredLanguage2" data-toggle="select" class="form-control select select-default mrs mbm" required="">
                        <option value="fr, French">French</option>
                        <option value="de, German">German</option>
                        <option value="ru, Russian">Russian</option>
                        <option value="us, English">English</option>
                        <option value="cn, Chinese">Chinese</option>
                        <option value="kr, Korean">Korean</option>
                        <option value="vn, Vietnamese">Vietnamese</option>
                        <option value="il, Hebrew">Hebrew</option>
                        <option value="jp, Japanese">Japanese</option>
                        <option value="gr, Greek">Greek</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Complication of Task</label>
                <div class="col-md-8 col-xs-offset-2">
                    <input id="requiredProficiency" ng-model="jobPosting.requiredProficiency" type="text" class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group" ng-hide=true>
                <label class="col-md-8 col-xs-offset-2">Complication of Task</label>
                <div class="col-md-8 col-xs-offset-2">
                    <input id="requiredLanguages" ng-model="jobPosting.requiredLanguages" type="text" class="form-control input-md" value="[jobPosting.requiredLanguage1 , jobPosting.requiredLanguage2]">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Need Translation Now?</label>
                <div class="col-md-8 col-xs-offset-2">
                    <input id="scheduled" ng-model="jobPosting.scheduled" checked type="checkbox" class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Time of Translation</label>
                <div class="col-md-8 col-xs-offset-2">
                    <input id="appointment" ng-model="jobPosting.appointment" type="text" class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Address</label>
                <div class="col-md-8 col-xs-offset-2">
                    <input id="address-input" ng-model="jobPosting.location" type="text" class="form-control input-md" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Your Account Email</label>
                <div class="col-md-8 col-xs-offset-2">
                    <input id="email" ng-model="userConfirm.email" type="text" class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-8 col-xs-offset-2">Your Account Password</label>
                <div class="col-md-8 col-xs-offset-2">
                    <input id="passTxt" ng-model="userConfirm.passTxt" type="password" class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group col-xs-8 col-xs-offset-4 btn-container">
                <button class="col-xs-8 col-xs-offset-4 form-bottom btn btn-primary btn-large btn-block">Post Job</button>
            </div>
        </fieldset>
    </form>
</div>
